*
!.gitignore

!chisqr.tex
!main.tex
!table.tex
!table2_eic1.tex
!table2_eic2.tex

!b_slope_eic1.pdf
!b_slope_eic2.pdf
!b_slope_jpsi.pdf
!dsdt_y_close_eic1.pdf
!dsdt_y_close_eic2.pdf
!dsdt_y_eic1.pdf
!dsdt_y_eic1_W_12.5.pdf
!dsdt_y_eic1_W_21.5.pdf
!dsdt_y_eic1_W_35.5.pdf
!dsdt_y_eic2.pdf
!dsdt_y_eic2_W_12.5.pdf
!dsdt_y_eic2_W_21.5.pdf
!dsdt_y_eic2_W_35.5.pdf
!reimt_y.pdf
!si_bbX.pdf
!si_y.pdf
!t_y.pdf