*
!.gitignore

!chisqr.tex
!main.tex
!table.tex
!table2_eic1.tex
!table2_eic2.tex

!b_slope_jpsi.pdf
!b_slope_y.pdf
!dsdt_y_close_eic1.pdf
!dsdt_y_close_eic2.pdf
!dsdt_y_eic1.pdf
!dsdt_y_eic1_iW_3.pdf
!dsdt_y_eic1_iW_6.pdf
!dsdt_y_eic1_iW_26.pdf
!dsdt_y_eic2.pdf
!dsdt_y_eic2_iW_3.pdf
!dsdt_y_eic2_iW_6.pdf
!dsdt_y_eic2_iW_26.pdf
!reimt_y.pdf
!si_bbX.pdf
!si_y.pdf
!t_y.pdf